.footer {
  font-style: normal;
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 14px;
  margin-bottom: 20px;
  color: #858585;
  width: 100%;
}
.info {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-between;
  margin-top: 20px;
}
.sum {
  margin-right: 1.875rem;
  margin-bottom: 10px;
}
.left {
  display: flex;
  flex-wrap: wrap;
}
@media(max-width:1050px){
    .footer{
        font-size: 0.75rem;
    }
}
@media (max-width: 750px) {
  .footer {
    font-size: 0.86rem;
  }
}
@media (max-width: 550px) {
  .left {
    flex-direction: column;
  }
  .footer {
    font-size: 1rem;
  }
  .sum {
    margin-bottom: 10px;
  }
  .info {
    align-items: center;
  }
}
@media (max-width: 400px) {
  .footer {
    font-size: 0.9rem;
  }
}
