.footer {
  height: 48px;
  background: #ffffff;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 22px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  p {
    font-family: "Exo 2";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #858585;
  }
  .left {
    display: flex;
    .sumOfComp {
      margin-left: 13px;
    }
  }
  .right {
    p {
      cursor: pointer;
    }
  }
}
@media (max-width: 550px) {
  .footer {
    p {
      font-size: 1rem;
    }
  }
}
