.todo-container {
  margin-top: 2%;

  width: 40%;
  padding: 5px;
}
h1 {
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 3.125rem;
  line-height: 60px;
}
@media(max-width:1050px){
    .todo-container{
        width: 45%;
    }
}
@media(max-width:750px){
    .todo-container{
        width: 58%;
    }
}

