.todoContainer{
    width: 40%;
    margin-top: 70px;
    h1{
        color: white;
        margin-bottom: 18px;
        font-style: normal;
        font-weight: 700;
        font-size: 3.125rem;
        line-height: 3.75rem;
    }
}

/* ===== Scrollbar CSS ===== /
/ Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #9da6a8 #ffffff;
  }
  
  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: rgb(129, 200, 219);
    border-radius: 26px;
    border: 3px solid #ffffff;
  }
  @media (max-width: 1100px){
    html{
        font-size: 14px;
    }
    .todoContainer{
        width: 50%;
    }
  }
  @media (max-width: 750px){
    html{
        font-size: 12px;
    }
  }
  @media (max-width: 550px){
    html{
        font-size: 10px;
    }
    .todoContainer{
        width: 60%;
    }
  }